<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/task
      http://www.springframework.org/schema/task/spring-task-4.3.xsd
      http://www.springframework.org/schema/aop
	  http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	  
	<context:property-placeholder location="classpath:jdbc.properties"
			ignore-unresolvable="true" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>60</value>
		</property>
		<property name="poolPreparedStatements" value="${jdbc.poolPreparedStatements}" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource" 
		p:configLocation="classpath:mybatis-config.xml"
		p:mapperLocations="classpath:orgs/cm/*/xml/*Mapper.xml" />

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="orgs.cm.*.dao" 
		p:sqlSessionFactoryBeanName="sqlSessionFactory" />		
<!-- 	<context:property-placeholder location="classpath:jdbc.properties"
		ignore-unresolvable="true" />
	配置DataSource数据源
	<bean id="dataSourceCmd" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>60</value>
		</property>
		<property name="poolPreparedStatements" value="${jdbc.poolPreparedStatements}" />
	</bean>
	Cmd mybatis文件配置，扫描所有mapper文件
	<bean id="sqlSessionFactoryCmd" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSourceCmd" 
		p:configLocation="classpath:mybatis-config.xml"
		p:mapperLocations="classpath:orgs/cm/*/xml/*Mapper.xml" />

	Cmd spring与mybatis整合配置，扫描所有dao
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="orgs.cm.*.dao" 
		p:sqlSessionFactoryBeanName="sqlSessionFactoryCmd" />


	<bean id="dataSourceCms" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>60</value>
		</property>
		<property name="poolPreparedStatements" value="${jdbc.poolPreparedStatements}" />
	</bean>
	Cms mybatis文件配置，扫描所有mapper文件
	<bean id="sqlSessionFactoryCms" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSourceCms" 
		p:configLocation="classpath:mybatis-config.xml"
		p:mapperLocations="classpath:orgs/cm/*/xml/*Mapper.xml" />

	Cms spring与mybatis整合配置，扫描所有dao
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="orgs.cm.*.dao" 
		p:sqlSessionFactoryBeanName="sqlSessionFactoryCms" />


	<bean id="dataSourceAuth" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>60</value>
		</property>
		<property name="poolPreparedStatements" value="${jdbc.poolPreparedStatements}" />
	</bean>			
	Auth mybatis文件配置，扫描所有mapper文件
	<bean id="sqlSessionFactoryAuth" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSourceAuth" 
		p:configLocation="classpath:mybatis-config.xml"
		p:mapperLocations="classpath:orgs/cm/*/xml/*Mapper.xml" />

	Auth spring与mybatis整合配置，扫描所有dao
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="orgs.cm.*.dao" 
		p:sqlSessionFactoryBeanName="sqlSessionFactoryAuth" /> -->

</beans>
	  